In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/kennethsmith/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [44]:
# from the mars news site collect title and paragraph text
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

In [51]:

html = browser.html
soup = bs(html, 'html.parser')

titles = soup.find('div', class_='content_title').text
teaser_text = soup.find('div', class_='article_teaser_body').text

print(titles)
print(teaser_text)

NASA InSight's 'Mole' Is Out of Sight
Now that the heat probe is just below the Martian surface, InSight's arm will scoop some additional soil on top to help it keep digging so it can take Mars' temperature.

In [41]:
browser.quit()

In [62]:
# visit space image site and https://spaceimages-mars.com/ and assign image featured_image_url
mars_image_url = "https://spaceimages-mars.com/"

In [ ]:
browser.visit(mars_image_url)

In [57]:
html = browser.html
soup = bs(html, 'html.parser')
image_path= soup.find('img', class_='headerimage fade-in')['src']
image_path

'image/featured/mars3.jpg'

In [63]:
featured_image_url = mars_image_url + image_path
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [60]:
browser.quit()

In [12]:
# visit mars facts page https://galaxyfacts-mars.com/ and use pandas to scrapte the table, diameter, mass, etc. convert to html using pandas
fact_url = "https://galaxyfacts-mars.com/"

In [13]:
tables = pd.read_html(fact_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
type(tables)
mars_facts_df = tables[1]
mars_facts_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
mars_facts_df = mars_facts_df.set_index(0)

In [16]:
mars_facts_df = mars_facts_df.transpose()

In [20]:
mars_facts_df.reset_index(inplace = True, drop = True)
mars_facts_df

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
0,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 ( Phobos & Deimos ),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [19]:
# convert table to html string
mars_facts_html = mars_facts_df.to_html(classes='table')
mars_facts_html
mars_facts_html.replace('\n','')

'<table border="1" class="dataframe table">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Equatorial Diameter:</th>      <th>Polar Diameter:</th>      <th>Mass:</th>      <th>Moons:</th>      <th>Orbit Distance:</th>      <th>Orbit Period:</th>      <th>Surface Temperature:</th>      <th>First Record:</th>      <th>Recorded By:</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>6,792 km</td>      <td>6,752 km</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>      <td>2 ( Phobos &amp; Deimos )</td>      <td>227,943,824 km (1.38 AU)</td>      <td>687 days (1.9 years)</td>      <td>-87 to -5 °C</td>      <td>2nd millennium BC</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
mars_facts_df.to_html("mars_facts.html")

In [9]:
# visit astrogeology site https://marshemispheres.com/
# Save both the image url string for the full resolution hemisphere image, 
# and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image url string and the hemisphere title 
# to a list. This list will contain one dictionary for each hemisphere.

hemi_page_url = "https://marshemispheres.com/"
browser.visit(hemi_page_url)
html = browser.html
soup = bs(html, 'html.parser')

In [10]:
mars_images = []

image_section = soup.find('div', class_='collapsible results')
unique_image = soup.find_all('div',class_='item')

for i in unique_image:

    header = i.find('h3').text
    hemi_image_url = i.find('a')['href']
    hemi_image_full_url = hemi_page_url + hemi_image_url

    browser.visit(hemi_image_full_url)
    html = browser.html
    soup = bs(html, 'html.parser')

    download = soup.find('div', class_='downloads')
    download_link = download.find('a')['href']

    mars_images.append({"title": header, "image url": hemi_page_url + download_link})
    print(hemi_image_full_url)

print(mars_images)

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html
[{'title': 'Cerberus Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [ ]:
browser.quit()